requests
schedule
beautifulsoup4

lxml

langchain-text-splitters
langchain
langchain-community
langchain-core
langchain-classic

google-generativeai
langchain-google-genai

pinecone-text
pinecone-client
pinecone