requests
schedule
psycopg2-binary
beautifulsoup4
python-dotenv

lxml

langchain-text-splitters
langchain
langchain-community
langchain-core

google-generativeai
langchain-google-genai

pinecone-text
pinecone-client
pinecone

fastapi
uvicorn
pydantic