requests
schedule
psycopg2-binary
beautifulsoup4
python-dotenv
protobuf

lxml

langchain-text-splitters
langchain
langchain-community
langchain-core
langgraph

google-generativeai
langchain-google-genai

pinecone-text
pinecone<=8.0.0

fastapi
uvicorn
pydantic