fastapi
uvicorn
pydantic

requests
schedule
beautifulsoup4
python-dotenv
lxml

psycopg[binary,pool]

langchain
langgraph
langchain_text_splitters
langgraph-checkpoint-postgres
langchain-community
pinecone-text

google-generativeai
langchain-google-genai

pinecone
langchain-pinecone